<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
    <meta name="keywords" content="">
	<title>Document</title>
</head>
<body>
    {% block content %}
        <div class="contentspacer"></div> 
            <section class="pagecontent">
                <div class="container">
                    <div class="row">
                        <div class="entryforms login">
                            <div class="thirdprty_login">
                                <div class="formContainer p-4">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" name="new_password1" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm password</label>
                                            <input type="password" name="new_password2" class="form-control">
                                        </div>
                                        <button type="submit" class="sbt_btn">Change my password</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% endblock %}
</body>
</html>